@import "tailwindcss";

/* Define altura total para a aplicação ocupar a tela toda */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #36393f; /* Fundo padrão do Discord */
}

/* Sua barra de rolagem customizada */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #2f3136;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 4px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}